OrderFood/OrderFood/bin
OrderFood/OrderFood/obj
OrderFood/OrderFood.Android/bin
OrderFood/OrderFood.Android/obj
OrderFood/OrderFood.iOS/obj
OrderFood/OrderFood.iOS/bin
OrderFood/OrderFood/obj
OrderFood/OrderFood.iOS/obj
OrderFood/OrderFood.Android/obj
OrderFood/OrderFood.Android/bin
OrderFood/OrderFood/bin
